<?php
<style type="text/css">
body { 
    font-family: Verdana; 
    font-size: 12px; 
    color: #444; 
} 
#container { 
    width: 900px; 
    margin: 150px auto; 
    background-color: #eee; 
    overflow: hidden; /* Set overflow: hidden to clear the floats on #main and #sidebar */
    padding: 15px; 
} 
  
    #main { 
        width: 490px; 
        float: left; 
    } 
  *{
 box-sizing: border-box;}
 
 form {
    border: 3px solid #f1f1f1;
    
}
 
?>